html,
body {
    height: 100%;
    margin: 0px;
}
#header-body,
#game-body,
#rps-body,
#footer-body {
    display: flex;
}
#header-body,
#footer-body {
    background-color: #696969;
    flex: 1 1 5%;
    max-height: 100px;
}

#rps-body {
    background-color: #696969;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
#game-body {
    background-color: #A9A9A9;
    flex: 1 1 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    gap: 5%;

}
#score-image-body{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    

}
.image-block {
    border-radius: 5px;
    border: 2px solid #696969;
    height: 200px;
    width: 200px;
}
#score-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}